.member-overview {
  padding-top: $global-margin * 4;
  text-align: center;
  h2 {
    font-size: rem-calc(26px);
    margin-bottom: $global-margin;
    @include breakpoint(large) {
      font-size: rem-calc(36px);
    }
  }
  img {
    width: 100%;
    margin-bottom: $global-margin / 2;
    @include breakpoint(medium) {
      margin-bottom: $global-margin;
    }
  }
  h4 {
    font-size: rem-calc(24px);
    margin-bottom: 0;
    @include breakpoint(large) {
      font-size: rem-calc(30px);
    }
  }
  h5 {
    font-family: $body-font-family;
    font-size: rem-calc(18px);
    margin-bottom: 0;
  }
  a {
    display: block;
    width: 100%;
  }
  .member {
    margin-bottom: $global-margin * 2;
    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }
  @include breakpoint(medium) {
    text-align: left;
  }
}