@import "font-awesome";
@import "settings";
@import "lib/slick";
@import "lib/slick-theme";
@import "foundation";
@include foundation-everything();
@import "layout/title-bar";
@import "layout/content";
@import "layout/footer";
@import "modules/tabs";
@import "modules/hero";
@import "modules/header-image";
@import "modules/gradient";
@import "modules/author-bar";
@import "modules/sidebar";
@import "modules/title";
@import "modules/tagline";
@import "modules/member-overview";
@import "modules/member-details";
@import "modules/listing";
@import "modules/listing-teaser";
@import "modules/blog";
@import "modules/marketing";
@import "modules/lets-talk";
@import "modules/comments-form";
@import "theme/home";

body {
  background-color: #CCC;
}

h1, h2, h3, h4, h5, h6 {
  color: $blue-gray;
}

h3.bold {
  font-weight: 600;
}

.text-white {
  color: $white;
}
.text-orange {
  color: $orange;
}
.text-gray1 {
  color: $gray1;
}

.accordion {
  .accordion-title, .accordion-content {
    padding-left: 0;
    padding-right: 0;
  }
  .accordion-title {
    font-family: $body-font-family;
    font-size: rem-calc(25px);
    text-transform: uppercase;
    background-image: url("../images-min/accordion-open.min.png");
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 36px;
    padding: rem-calc(4px) $global-margin 0 rem-calc(32px) + $global-margin;
    margin-bottom: $global-margin;
    &:hover {
      background-image: url("../images-min/accordion-close.min.png");
    }
  }
  .is-active .accordion-title {
    background-image: url("../images-min/accordion-close.min.png");
  }
  .accordion-content {
    padding-top: 0;
  }
}

.pagination li {
  border-radius: 4px;
}

.read-more {
  display: block;
  text-transform: uppercase;
  margin-top: $global-margin * 2;
}

.menu-spacer {
  height: 56px;
  @include breakpoint(medium) {
    height: 68px;
  }
}
.admin-bar .menu-spacer {
  height: 106px;
  @include breakpoint(medium) {
    height: 108px;
  }
}

.alignleft {
  float: left;
  margin: 0 $global-margin*2 $global-margin*2 0;
}

.alignright {
  float: left;
  margin: 0 0 $global-margin*2 $global-margin*2;
}

.gform_button.button {
  @include button( false, $orange, darken($orange, 10%) );
}
@include breakpoint(small only) {
  .gform_wrapper .top_label li.gfield.gf_left_third,
  .gform_wrapper .top_label li.gfield.gf_middle_third,
  .gform_wrapper .top_label li.gfield.gf_right_third {
    display: block !important;
    width: 100% !important;
  }
}

.fancybox-overlay {
  background-color: rgba(0,0,0,0.8);
}
.fancybox-wrap {
  top: 50% !important;
  transform: translateY(-50%);
}
.fancybox-opened .fancybox-skin {
  box-shadow: none;
}
.fancybox-skin {
  padding: 0 !important;
}
.fancybox-title-float-wrap {
  right: 0;
}
.fancybox-close {
  background-image: url("../images-min/lightbox-close.min.png");
  width: 23px;
  height: 22px;
  background-size: unset;
  top: -2rem;
  right: 0;
}
.fancybox-nav span {
  margin-top: 0;
  visibility: visible !important;
  top: 50%;
  transform: translateY(-50%);
}
.fancybox-next span {
  right: -4rem;
  background-image: url("../images-min/lightbox-arrow.min.png");
  background-size: unset;
  width: 41px;
  height: 79px;
  background-position: 0 0;
}
.fancybox-prev span {
  left: -4rem;
  background-image: url("../images-min/lightbox-arrow.min.png");
  background-size: unset;
  width: 41px;
  height: 79px;
  background-position: 0 0;
  transform: translateY(-50%) scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.fancybox-title-float-wrap .child {
  padding: 0;
  margin-right: 0;
  margin-bottom: 0.5rem;
  background: none;
  font-size: rem-calc(12px);
  font-family: $body-font-family;
}