<section class="lets-talk">
    <div class="row column">
        <h2>
            {{ cta_text_blue }} <span class="phone">{{ cta_text_dark_blue }}</span>
            <a href="{{ cta_button_link }}" class="large orange button">{{ cta_button_text }}</a>
        </h2>
    </div>
</section>